
@{
    ViewBag.Title = "AddLesson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Lesson Name</label>
        <br />
        <input type="text" class="form-control" name="LessonName" />
    </div>
    <div style="margin-top: 10px">
        <button class="btn btn-info">Add Lesson</button>
    </div>
</form>

